@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');

:root{
  --bcg_header : #ffffff;
  --bcg_main : #c7e8ec;
  --bcg_sideNav : #451734;
  --nav_font : #1b1b1b;
  --nav_accent : #1ea5b2;
  --nav_accent_darker : #16818b;
}
body {
  background-color: var(--bcg_main);
}
.wrap-960 {
  max-width: 960px;
  margin: auto;
}
.header {
  background-color: var(--bcg_header);
  color: black;
}
.nav-item {
  background-color: inherit;
  font-style: none;
  color: var(--nav_font);
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  padding-bottom: 15px;
  padding-top: 15px;
  margin: 12px;
  font-weight: bold;
  cursor: pointer;
}
.nav-item:hover {
  color: var(--nav_accent);
}
.selected {
  color: var(--nav_accent);
  border-bottom: 5px solid var(--nav_accent);
}
.social-item {
  color: white;
  font-size: 15pt;
  background-color: var(--nav_accent);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-right:12px;
  margin-top: 12px;
  text-decoration: none;
}
.social-item:hover {
  background-color: var(--nav_accent_darker);
}
.pointer {
  cursor: pointer;
}
